
<div class="col-12">
    <div><br /></div>
    <div class="col-12 row">
        <img src="/img/telerik-1.jpg" width="215px" height="200px"/>
    </div>
    <div><br /></div>
    <div class="col-12 row justify-content-center">
        @*<TelerikButton><b>Sign Up</b></TelerikButton> &nbsp; &nbsp;
        <TelerikButton><b>Login</b></TelerikButton>*@
        <TelerikButton><b>Sign Out</b></TelerikButton>
    </div>
    <div><br /></div>
</div>

@code {

}
