@page "/drawer"

<h3>Drawer</h3>
<hr />

<TelerikDrawer Data="MenuItems"
               MiniMode="true"
               Mode="@DrawerMode.Push"
               @ref="TelerikDrawerRef"
               @bind-SelectedItem="SelectedItem">
    <Content>
        <TelerikButton OnClick="@(() => TelerikDrawerRef.ToggleAsync())" Icon="@IconName.Menu"></TelerikButton>
        <strong>
            Selected Item : @SelectedItem?.Text
        </strong>        
    </Content>
</TelerikDrawer>

@code {

    TelerikDrawer<MenuItem> TelerikDrawerRef { get; set; }
    MenuItem SelectedItem { get; set; }
    private IEnumerable<MenuItem> MenuItems  =>
        new List<MenuItem>
        {
            new MenuItem {Text = "Authors", Icon = IconName.User},
            new MenuItem {Text = "Publishers", Icon = IconName.Blogger},
            new MenuItem {Text = "Books", Icon = IconName.FilePdf}
        };

    class MenuItem
    {
        public string Text { get; set; }
        public string Icon { get; set; }
    }

}
