################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookStores/.vs/BookStores/v16

"/BookStoresWebAPI/bin/"
"/BookStoresWebAPI/bin/Release/netcoreapp3.1/"
"/BookStoresWebAPI/obj/"
"/BookStoresWebAPI/obj/Release/netcoreapp3.1/"

"/FinalEpisode/BookStores/Client/bin/Debug/netstandard2.1"
"/FinalEpisode/BookStores/Client/obj"

"/Episode 1/BookStores/Client/bin/Debug/netstandard2.1"
"/Episode 1/BookStores/Client/obj"

/.vs
/BookStoresWebAPI/bin/Debug/netcoreapp3.1
/BookStoresWebAPI/obj/Debug/netcoreapp3.1
/BookStoresWebAPI/obj/project.nuget.cache
/BookStoresWebAPI/obj/project.assets.json
/BookStoresWebAPI/obj/BookStoresWebAPI.csproj.nuget.g.targets
/BookStoresWebAPI/obj/BookStoresWebAPI.csproj.nuget.g.props
/BookStoresWebAPI/obj/BookStoresWebAPI.csproj.nuget.dgspec.json
/Episode 1/BookStores/Client/obj/Debug/netstandard2.1
/Episode 1/BookStores/Client/bin/Debug/netstandard2.1
/Episode 1/BookStores/Client/bin/Release/netstandard2.1
/Episode 1/BookStores/Client/obj/Release/netstandard2.1
/Episode 2/BookStores/.vs/BookStores/v16
/Episode 2/BookStores/Client/bin/Debug/netstandard2.1
/Episode 2/BookStores/Client/obj
/Episode 2/BookStores/Server/bin/Debug/netcoreapp3.1
/Episode 2/BookStores/Server/obj
/Episode 2/BookStores/Shared/bin/Debug/netstandard2.1
/Episode 2/BookStores/Shared/obj
/Episode 2/BookStores/.vs/BookStores/DesignTimeBuild
/Episode 2/BookStores/.vs/BookStores/config
