<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">DocumentProcessing</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> PDF - Create & Download
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="MergeSplit">
                <span class="oi oi-plus" aria-hidden="true"></span> PDF - Merge & Split
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ExportFiles">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Excel - Export Files
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="SpreadStreamProcessing">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Excel - Spread Stream Processing
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ConvertAndDownload">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Word - Convert & Download
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ZipLibrary">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Zip - Zip Library
            </NavLink>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
