@page "/documentprocessing"
@inject NavigationManager _navigationManager
<h3>DocumentProcessing</h3>

<TelerikButton OnClick="@(() => _navigationManager.NavigateTo("createdownloadpdf"))">Create and Download PDF</TelerikButton>
<TelerikButton OnClick="@(() => _navigationManager.NavigateTo("mergesplit"))">Create and Download PDF</TelerikButton>

@code {

}
