@page "/convertdocuments"

@using System;
@using System.IO;
@using DocumentProcessing.Models
@using DocumentProcessing.Utilities
@using System.Text.RegularExpressions;
@inject IJSRuntime JsRuntime

<div class="demo-section">

    <label class="demo-spacing">Convert from:</label>
    <FileSelector ID="uploadInput" Accept=".docx, .rtf, .html, .txt" @bind-FileDetails="fileDetails" />
    <label class="demo-spacing">Select .docx, .rtf, .html or .txt file formats</label>
    <br />
    <br />
    <label class="demo-spacing">Convert to:</label>
    <TelerikDropDownList Data="@Formats" @bind-Value="@SelectedFormat" PopupHeight="" Width="180px">
    </TelerikDropDownList>
    <hr class="clear" />
    <TelerikButton Icon="save" Primary="true" OnClick="@DownloadHandler" Enabled='@(!string.IsNullOrEmpty(fileDetails.Name))' Class="demo-button">Convert and Download</TelerikButton>
</div>

@code {

    FileDetails fileDetails = new FileDetails();
    string SelectedFormat = "DOCX";
    string mimeType;
    string[] Formats = { "DOCX", "RTF", "HTML", "TXT", "PDF" };

    private void DownloadHandler()
    {

    }
}

<style>
    .demo-button {
        width: 240px;
        float: right;
    }

    .demo-section {
        max-width: 500px;
        padding-bottom: 80px;
    }

        .demo-section label {
            margin-left: 5px;
        }

    .fileName-label {
        width: 90px;
    }

    .image-wrapper {
        text-align: center;
        min-height: 300px;
        position: relative;
    }

        .image-wrapper img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            bottom: 0;
        }

    .template-image {
        height: 300px;
        border: 1px solid #c9c9c9;
    }

    .custom-image {
        height: 180px;
    }

    .custom-radio-wrapper {
        float: right;
    }

    .visible-wrapper {
        display: block;
    }

    .hidden-wrapper {
        display: none;
    }
</style>