@page "/extractzipfolder"

@using System;
@using System.IO;
@using System.Linq;
@using System.Net.Mime;
@using System.Collections.Generic;
@using DocumentProcessing.Utilities
@using System.Collections.ObjectModel
@using Telerik.Zip;
@inject IJSRuntime JsRuntime

<div class="demo-section wide">
    <h6 class="kd-demo-heading">Select a zip archive to upload and display in the grid</h6>
    <FileSelector ID="uploadInput" Accept=".zip" />

</div>

@code {


}

<style>
    .demo-section {
        max-width: 800px;
    }

    .no-records .k-grid-content:after {
        content: "Upload zip File to Load Content";
        position: absolute;
        margin-top: 60px;
        width: 100%;
        text-align: center;
    }
</style>