
<div class="col-12">
    <div><br /></div>
    <div class="col-12 row">
        <img src="/img/blank-profile.png" />
    </div>
    <div><br /></div>
    <div class="col-12 row">
        <TelerikButton>SignUp</TelerikButton> &nbsp;
        <TelerikButton>Login</TelerikButton>
    </div>
    <div><br /></div>
</div>

@code {

}
