
<div class="col-12">
    <div><br /></div>
    <div class="col-12 row">
        <img src="/img/blank-profile.png" />
    </div>
    <div><br /></div>
    <div class="col-12 row justify-content-center">
        <TelerikButton><b>Sign Up</b></TelerikButton> &nbsp; &nbsp;
        <TelerikButton><b>Login</b></TelerikButton>
    </div>
    <div><br /></div>
</div>

@code {

}
