@inherits LayoutComponentBase

<TelerikRootComponent>
    <TelerikDrawer Data="MenuItems" @ref="TelerikDrawer">
        <Content>
            <div class="main">
                <div class="top-row px-4">
                    <TelerikButton Icon="@IconName.Menu" OnClick="@(() => TelerikDrawer.ToggleAsync())"></TelerikButton>
                    <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
                </div>

                <div class="content px-4">
                    @Body
                </div>
            </div>
        </Content>
    </TelerikDrawer>    
</TelerikRootComponent>

@code {

    // 1 - Set Icons and ImageUrls to MenuItem
    // 2 - Drawer Mode
    // 3 - Mini Mode

    private TelerikDrawer<MenuItem> TelerikDrawer;

    private IEnumerable<MenuItem> MenuItems => new List<MenuItem>
    {
        new MenuItem {Text = "Authors", Url ="/"},
        new MenuItem {Text = "Publishers", Url ="/publishers" },
        new MenuItem {Text = "Books", Url ="/books" }
    };
}