@inherits LayoutComponentBase

<TelerikRootComponent>
    <TelerikDrawer Data="MenuItems" 
                   @ref="TelerikDrawer"
                   Mode="DrawerMode.Push"
                   MiniMode="true">
        <Content>
            <div class="main">
                <div class="top-row px-4">
                    <TelerikButton Icon="@IconName.Menu" OnClick="@(() => TelerikDrawer.ToggleAsync())"></TelerikButton>
                    <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
                </div>
                <div class="content px-4">
                    @Body
                </div>
            </div>
        </Content>
    </TelerikDrawer>
</TelerikRootComponent>

@code {
    
    private TelerikDrawer<MenuItem> TelerikDrawer;

    private IEnumerable<MenuItem> MenuItems => new List<MenuItem>
{
        new MenuItem {Text = "Authors", Url ="/", Icon = IconName.User, ImageUrl = "/img/authors.png" },
        new MenuItem {Text = "Publishers", Url ="/publishers", Icon = IconName.Blogger, ImageUrl = "/img/publishers.png" },
        new MenuItem { IsSeparator = true },
        new MenuItem {Text = "Books", Url ="/books", Icon = IconName.FilePdf, ImageUrl = "/img/books.png" }
    };
}