@inherits LayoutComponentBase

<TelerikRootComponent>
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</TelerikRootComponent>

@code {

    // 1 - Create a MenuItem Class
    // 2 - Create list of MenuItems
    // 3 - Add TelerikDrawer
    // 4 - Add Toggle Button
}